<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Violee Education</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <link rel="stylesheet" href="css/jqmath-0.4.3.css">
    <script src="js/jquery-1.4.3.min.js"></script>
</head>

<body class="css-selector">
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="outline: black; ">
    <a class="navbar-brand" href="/" style="color: #31b08f;;"><b>VIOLA</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" onclick="sessionstatefunc()" style="cursor: pointer">Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn my-2 my-sm-0" type="submit" style="color: white" onclick="accountfunc()">Account</a>
      </form>
    </div>
  </nav>







  <br>
  <div id="container"> 
    <div class="" style="color: #31b08f;">
      <h1 class="display-4" style="margin-left: 20px"> <b id="examcontent"> </b></h1>
      
      <br>

      <h1 class="display-10" style="font-size: 1.1em; margin-left: 20px" id="titlecontent"></h1> 
      <h1 class="display-10" style="font-size: 0.8em; margin-left: 20px; color: grey; width: 75%" id="descriptioncontent"> </h1>
    </div>
  </div>

  <br>

  <div id="videohover" >
    <hr style="color: green; opacity: 100%; "> <br>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <h1 id="viewfiles" class="display-10" style="font-size: 1.75em; margin-left: 20px;">Examination Paper</h1> 
    </div>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px"> View the exam file the specific question is found in. </p> 
    </div> 
    <div id="sourcepaperpdf" style="color: #31b08f;"> 
    </div> 

    <hr style="margin-top: 35px"> 
  </div>


  <div id="videohover" >
    <hr style="color: green; opacity: 100%; "> <br>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <h1 id="viewfilesvideo" class="display-10" style="font-size: 1.75em; margin-left: 20px;" >Video Explaination</h1> 
    </div>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px">View a video explaination of the specific question.</p> 
    </div> 
    <hr style="margin-top: 35px"> 
  </div>

  <div id="videohover" >
    <hr style="color: green; opacity: 100%; "> <br>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <h1 id="viewfileswritten" class="display-10" style="font-size: 1.75em; margin-left: 20px;">Written Explaination</h1> 
    </div>
    
    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px">View a written response explaining in depth the theory and answer to the question.</p> 
    </div> 
    
    <div id="sourcewritten" style="color: #31b08f;"> 
    </div> 
    
    <hr style="margin-top: 35px"> 
  </div>


  <div id="videohover" >
    <hr style="color: green; opacity: 100%; "> <br>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <h1 id="viewfilessolution" class="display-10" style="font-size: 1.75em; margin-left: 20px;">VCAA Explaination</h1> 
    </div>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px">View VCAA's response for examiner's to mark the question.</p> 
    </div> 
    
    <div id="sourcesolutionpdf" style="color: #31b08f;"> 
    </div> 
    
    <hr style="margin-top: 35px"> 
  </div>


  <div id="videohover" >
    <hr style="color: green; opacity: 100%; "> <br>

    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <h1 id="viewfilesexternal" class="display-10" style="font-size: 1.75em; margin-left: 20px;" > External Sources </h1> 
    </div>
    
    <div class="d-flex flex-row justify-content-between mb-3" style="color: #31b08f;">
      <p class="display-10" style="font-size: 0.9em; margin-left: 20px; margin-top: -15px; margin-bottom: -50px">View third party sources that may help assist in understanding the question.</p> 
    </div> 

    <hr style="margin-top: 35px"> 
  </div>


  <br> 

  <script type="text/javascript" src="js/token.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/load.js"></script>
  <script type="text/javascript" src="js/questionload.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>